<div class="change-password-container">
    <form class="change-password-form" [formGroup]="changePasswordForm" (ngSubmit)="onSubmit()">
      <h2>Alterar Senha</h2>

      <div class="form-group">
        <label for="newPassword">Senha Atual</label>
        <input id="newPassword" formControlName="password" type="password" placeholder="Digite sua nova senha" required />
      </div>
  
      <div class="form-group">
        <label for="newPassword">Nova Senha</label>
        <input id="newPassword" formControlName="newPassword" type="password" placeholder="Digite sua nova senha" required />
      </div>
  
      <div class="form-group">
        <label for="confirmPassword">Confirmar Senha</label>
        <input id="confirmNewPassword" formControlName="confirmNewPassword" type="password" placeholder="Confirme sua nova senha" required />
      </div>
  
      <button type="submit" class="btn-submit" [disabled]="loading">Alterar Senha</button>
    </form>
  </div>
  