<div class="forgot-password-container">
    <div class="forgot-form">
    <h2>Esqueceu sua Senha?</h2>
    <form [formGroup]="forgotform" (ngSubmit)="onSubmit()">
      <label for="email">Digite seu e-mail:</label>
      <input  formControlName="email"  type="email" id="email" name="email" required>
  
      <button type="submit">Confirmar</button>
  
      <!-- Exibe a mensagem de sucesso ou erro -->
      <div *ngIf="successMessage" class="success-message">{{ successMessage }}</div>
      <div *ngIf="errorMessage" class="error-message">{{ errorMessage }}</div>
    </form>
  
    <div class="links">
      <button (click)="onBackToLogin()">Voltar para o Login</button>
    </div>
  </div>
</div>
  